# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
venv/
env/

# Hercules App specific
hercules_uploads/

# Environment variables
.env

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Example run artifacts
hercules_minimal_run*/
hercules_minimal_*.json

# Build artifacts & distribution
dist/
build/
*.egg-info/

# Datasets
dataset/Instacart Market Basket Analysis/
dataset/online+retail/

dataset/8th exploration instacart/instacart_kmeans_clustered.csv
dataset/8th exploration instacart/instacart_user_features.csv

dataset/9th exploration online retail/level1_kstarmeans_k31_defining_characteristics.csv
dataset/9th exploration online retail/level2_weightedkmeans_k2_defining_characteristics.csv
dataset/9th exploration online retail/online_retail_kmeans_clustered.csv
dataset/9th exploration online retail/online_retail_user_features.csv
dataset/9th exploration online retail/regular_kmeans_k13_defining_characteristics.csv